# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Model files and data (if they're too large for GitHub)
recipes_f.pkl
food.pkl

# macOS
.DS_Store
.AppleDouble
.LSOverride

# OpenAI API Keys and other secrets
*.key
secrets.*