# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
ENV/
mlruns/

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# OpenAI API Keys and other secrets
*.key
secrets.*
keys/

# Raw data
Data/*.csv
/mlflow.db
